<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>bookTradingApp | Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/styles.css" />

</head>
<body class="sticky-footer-body" data-username="<%= user.username %>">

  <main>

    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo">bookTradingApp</a>
          <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile/<%= user._id %>">Profile</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile/<%= user._id %>">Profile</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m6">
            <ul class="tabs">
              <li class="tab col s4"><a class="active" href="#allBooks">All Books</a></li>
              <li class="tab col s4"><a href="#myBooks">My Books</a></li>
              <li class="tab col s4"><a href="#pending" id="pendingTab">Pending</a></li>
            </ul>
          </div>
          <div id="allBooks" class="col s12">
            <div class="center-align">
              <div class="preloader-wrapper big active preloader">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="myBooks" class="col s12" data-userbooks="<%= userBooks %>">
            <div class="section">
              <h4>Add Book</h4>
              <div class="row">
                <div class="errorContainer"></div>
                <div class="input-field col m8 offset-m2 s12">
                  <i class="material-icons prefix">library_add</i>
                  <input id="addBook" type="text">
                  <label for="addBook">Book Title</label>
                  <div style="width: 100%;" class="center-align">
                    <button id="addBookButton" class="btn waves-effect waves-light">Search
                      <i class="material-icons right">search</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <h4>Your Collection</h4>
            <div id="myCollection" class="section">
              <div class="center-align">
                <div class="preloader-wrapper big active preloader">
                  <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="pending" class="col s12">
            <div class="section">
              <h4>No Pending Requests</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-teal btn-flat">Close</a>
      </div>
    </div>

  </main>

  <footer class="page-footer dark-blue">
    <div class="footer-copyright dark-blue">
      <div class="container white-text">
        © 2017 Panagiotis Zisis
        <a class="right white-text" href="https://www.freecodecamp.com/panagiotiszisis" target="_blank">My FCC Account</a>
      </div>
    </div>
  </footer>
  
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/dashboard.js"></script>
</body>
</html>