<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>bookTradingApp | Sign up</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/styles.css" />

</head>
<body class="forms-body">

  <main>
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo">bookTradingApp</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <br />
      <div class="row">
        <div class="col m8 offset-m2 s12">
          <h3 class="center-align">Sign up</h3>
          <br />
          <div class="errorContainer" data-errors="<%= errors %>"></div>
          <form method="POST" action="/signup">
            <div class="input-field">
              <i class="material-icons prefix">account_circle</i>
              <input id="username" type="text" name="username" data-length="20">
              <label for="username">Username</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">dialpad</i>
              <input id="password" type="password" name="password" data-length="20">
              <label for="password">Password</label>
            </div>
            <br />
            <div style="width: 100%;" class="center-align">
              <button class="btn waves-effect waves-light" id="signup" type="submit">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer light-blue">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s6">
            <h5 class="white-text">Manage a Book Trading Club</h5>
            <p class="grey-text text-lighten-4">A project made for the Back-End Certification of freeCodeCamp.</p>
          </div>
          <div class="col s6">
            <h5 class="white-text">User Stories</h5>
            <ul>
              <li>I can view all books posted by every user.</li>
              <hr />
              <li>I can add a new book.</li>
              <hr />
              <li>I can update my settings to store my full name, city, and state.</li>
              <hr />
              <li>I can propose a trade and wait for the other user to accept the trade.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright dark-blue">
      <div class="container white-text">
        © 2017 Panagiotis Zisis
        <a class="right white-text" href="https://www.freecodecamp.com/panagiotiszisis" target="_blank">My FCC Account</a>
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/signup.js"></script>
</body>
</html>